<mat-card>
    <mat-card-title color="primary">
        <mat-toolbar color="primary">User Profile</mat-toolbar>
    </mat-card-title>
    <mat-card-content class="tracks-container">
        <mat-form-field>
            <input matInput
                   [(ngModel)]="userDataModel.firstName"
                   placeholder="Your name"
                   autocomplete="name"
                   (blur)="save()"
                   type="text">
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   [(ngModel)]="userDataModel.lastName"
                   placeholder="Your surname"
                   autocomplete="surname"
                   (blur)="save()"
                   type="text">
        </mat-form-field>
    </mat-card-content>
</mat-card>