<script src="../../tracks/tracks-list/tracks-list.component.ts"></script>
<header></header>
<main>
    <form [formGroup]="loginForm"
          (ngSubmit)="login(loginForm.value)"
          class="login-page">

        <mat-form-field>
            <input matInput
                   placeholder="Enter your email"
                   autocomplete="email"
                   formControlName="email"
                   type="email"
                   required>
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   placeholder="Enter your password"
                   autocomplete="password"
                   formControlName="password"
                   type="password"
                   required>
        </mat-form-field>
        <button
                *ngIf="loginForm.valid"
                mat-raised-button
                color="accent"
                type="submit">
            Log in
        </button>
        <button
                *ngIf="!loginForm.valid"
                mat-raised-button
                disabled>
            Log in
        </button>
    </form>
</main>
<footer></footer>