<mat-card>
    <mat-card-title color="primary">
        <mat-toolbar color="primary">Tracks</mat-toolbar>
    </mat-card-title>
    <mat-card-content class="tracks-container">
        <div class="tracks-list" *ngIf="tracksListModel && userDataModel">
            <mat-nav-list *ngIf="userDataModel.role === 0">
                <h3 mat-subheader>Student tracks</h3>
                <a title="Show my position"
                   (click)="showUserPosition()"
                   color="primary" mat-icon-button>
                    <mat-icon>
                        <i class="material-icons">my_location</i>
                    </mat-icon>
                </a>
                <mat-list-item *ngFor="let track of tracksListModel"
                               (click)="showOnMap(track.points)">
                    <mat-icon mat-list-icon>event</mat-icon>

                    <h4 mat-line>
                        {{ track.timestamp | date:'yyyy.MM.dd (HH:mm)' }}
                    </h4>
                    <h4 mat-line>
                        <b>Instructor:</b>
                    </h4>
                    <p mat-line *ngIf="track.instructorData?.firstName">
                        {{ track.instructorData?.firstName }}
                        {{ track.instructorData?.lastName }}
                    </p>
                    <p mat-line *ngIf="!track.instructorData?.firstName">
                        {{ track.instructorData?.email }}
                    </p>
                    <a title="Remove track"
                       (click)="removeTrack(track.$key)"
                       mat-icon-button>
                        <mat-icon color="warn">delete_forever</mat-icon>
                    </a>
                </mat-list-item>
            </mat-nav-list>

            <mat-nav-list *ngIf="userDataModel.role === 1">
                <h3 mat-subheader>Instructor tracks</h3>
                <a title="Show my position"
                   (click)="showUserPosition()"
                   color="primary" mat-icon-button>
                    <mat-icon>
                        <i class="material-icons">my_location</i>
                    </mat-icon>
                </a>
                <mat-list-item *ngFor="let track of tracksListModel"
                               (click)="showOnMap(track.points)">
                    <mat-icon mat-list-icon>event</mat-icon>

                    <h4 mat-line>
                        {{ track.timestamp | date:'yyyy.MM.dd (HH:mm)' }}
                    </h4>
                    <h4 mat-line>
                        <b>Student:</b>
                    </h4>
                    <p mat-line *ngIf="track.studentData?.firstName">
                        {{ track.studentData?.firstName }}
                        {{ track.studentData?.lastName }}
                    </p>
                    <p mat-line *ngIf="!track.studentData?.firstName">
                        {{ track.studentData?.email }}
                    </p>
                </mat-list-item>
            </mat-nav-list>

            <mat-nav-list *ngIf="userDataModel.role === 2">
                <h3 mat-subheader>Administrator tracks</h3>
                <a title="Show my position"
                   (click)="showUserPosition()"
                   color="primary" mat-icon-button>
                    <mat-icon>
                        <i class="material-icons">my_location</i>
                    </mat-icon>
                </a>
                <mat-list-item *ngFor="let track of tracksListModel"
                               (click)="showOnMap(track.points)">
                    <mat-icon mat-list-icon>event</mat-icon>

                    <h4 mat-line>
                        {{ track.timestamp | date:'yyyy.MM.dd (HH:mm)' }}
                    </h4>
                    <h4 mat-line>
                        <b>Instructor:</b>
                    </h4>
                    <p mat-line *ngIf="track.instructorData?.firstName">
                        {{ track.instructorData?.firstName }}
                        {{ track.instructorData?.lastName }}
                    </p>
                    <p mat-line *ngIf="!track.instructorData?.firstName">
                        {{ track.instructorData?.email }}
                    </p>
                    <h4 mat-line>
                        <b>Student:</b>
                    </h4>
                    <p mat-line *ngIf="track.studentData?.firstName">
                        {{ track.studentData?.firstName }}
                        {{ track.studentData?.lastName }}
                    </p>
                    <p mat-line *ngIf="!track.studentData?.firstName">
                        {{ track.studentData?.email }}
                    </p>
                    <a title="Remove track"
                       (click)="removeTrack(track.$key)"
                       mat-icon-button>
                        <mat-icon color="warn">delete_forever</mat-icon>
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </div>
        <div class="map">
            <agm-map [zoom]="googleMap.zoom"
                     [latitude]="googleMap.latitude"
                     [longitude]="googleMap.longitude">
                <agm-marker
                        *ngFor="let marker of markers"
                        [latitude]="marker.latitude"
                        [longitude]="marker.longitude"
                        [label]="marker.label">
                </agm-marker>
                <agm-polyline [strokeColor]="'#3f51b5'">
                    <agm-polyline-point *ngFor="let point of points"
                                        [latitude]="point.latitude"
                                        [longitude]="point.longitude">
                    </agm-polyline-point>
                </agm-polyline>
            </agm-map>
        </div>
    </mat-card-content>
</mat-card>