<div class="ui segments">
    <div class="ui violet inverted segment">
        <h1 class="ui center aligned">My Tracks</h1>
    </div>
    <div class="ui grid segment">
        <div class="four wide mobile four wide column"
             *ngIf="tracksListModel && userDataModel">
            <div class="ui secondary violet vertical pointing menu">
                <div class="link item" *ngFor="let track of tracksListModel"
                     [routerLink]="['/']" [queryParams]="{uid: track.$key}"
                     routerLinkActive="active">
                    <div *ngIf="userDataModel.role === 0 || userDataModel.role === 2">
                        <h4>
                            <i class="large yellow address card middle aligned icon"></i>
                            Instructor:
                        </h4>
                        <p *ngIf="track.instructorData?.firstName">
                            {{ track.instructorData?.firstName }}
                            {{ track.instructorData?.lastName }}
                        </p>
                        <p *ngIf="!track.instructorData?.firstName">
                            {{ track.instructorData?.email }}
                        </p>
                        <hr>
                    </div>
                    <div *ngIf="userDataModel.role === 1 || userDataModel.role === 2">
                        <h4>
                            <i class="large blue address card middle aligned icon"></i>
                            Student:
                        </h4>
                        <p *ngIf="track.studentData?.firstName">
                            {{ track.studentData?.firstName }}
                            {{ track.studentData?.lastName }}
                        </p>
                        <p *ngIf="!track.studentData?.firstName">
                            {{ track.studentData?.email }}
                        </p>
                        <hr>
                    </div>
                    <p>
                        {{ track.timestamp | date:'yyyy.MM.dd ' }}
                        <b>{{ track.timestamp | date:'(HH:mm)' }}</b>
                    </p>
                    <button *ngIf="userDataModel.role === 0 || userDataModel.role === 2"
                            title="Remove track"
                            class="ui negative right labeled icon button"
                            (click)="myModalNormal.show({inverted: true})"> Remove
                        <i class="trash icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="twelve wide mobile twelve wide column ">
            <div ng-sticky [addClass]="'is-sticky'">
                <agm-map [zoom]="googleMap.zoom"
                         [latitude]="googleMap.latitude"
                         [longitude]="googleMap.longitude">
                    <agm-marker
                            *ngFor="let marker of markers"
                            [latitude]="marker.latitude"
                            [longitude]="marker.longitude"
                            [label]="marker.label">
                    </agm-marker>
                    <agm-polyline [strokeColor]="'#3f51b5'">
                        <agm-polyline-point *ngFor="let point of points"
                                            [latitude]="point.latitude"
                                            [longitude]="point.longitude">
                        </agm-polyline-point>
                    </agm-polyline>
                </agm-map>
            </div>
        </div>
    </div>
</div>