@error-color: #FE3636;

@standard-size: 8px;

@breakpoint-sm: ~"only screen and (min-width: 576px)";
@breakpoint-md: ~"only screen and (min-width: 768px)";
@breakpoint-lg: ~"only screen and (min-width: 992px)";
@breakpoint-xl: ~"only screen and (min-width: 1200px)";
