<header class="container">
    <nav>
        <ul>
            <li routerLinkActive="active">
                <a routerLink="tracks">Tracks</a>
            </li>
        </ul>
    </nav>
    <p>
        <button (click)="signOut()">Sign Out</button>
    </p>
    <div *ngIf="userData as user">
        <p *ngIf="user.role == 0">You logged in as Student</p>
        <p *ngIf="user.role == 1">You logged in as Instructor</p>
        <p *ngIf="user.role == 2">You logged in as Administrator</p>
        <p *ngIf="user?.firstName && user?.lastName">{{ user?.firstName }} {{ user?.lastName }}</p>
        <p>{{ user.email }}</p>
    </div>
</header>
<main class="container">
    <app-tracks-list></app-tracks-list>
</main>
<footer></footer>