<header>
    <div class="ui inverted violet fixed menu">
        <nav class="ui container">
            <a class="item" routerLink="user-profile"
               routerLinkActive="active">
                <i class="user circle icon"></i>
                My profile
            </a>
            <a class="item" routerLink="tracks"
               routerLinkActive="active">
                <i class="road icon"></i>
                My tracks
            </a>
            <div class="right menu">
                <div *ngIf="userData as user" class="item">
                    {{ user.firstName }} {{ user.lastName }}:&nbsp; {{ user.email }}
                </div>
                <a class="item" (click)="signOut()">
                    <button class="ui yellow right labeled icon button">
                        <i class="sign out icon"></i>
                        Sign Out
                    </button>
                </a>
            </div>
        </nav>
    </div>
</header>
<main class="ui vertical stripe container">
    <router-outlet></router-outlet>
</main>